:root{
    --speed:2;
}
body{
    background: url("./alexander-kaunas-kTCZuDtYgzc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    
}
.machine{
    position: relative;;
    background-color:#303a36cb;
    border-radius: 5px;
    border: dashed 2px #8EA4D2;
    height: 250px;
    width: 650px;
    margin: auto;
    margin-top: 0px;
    top: -100px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: welcomeanimation 1s 1;
    animation-fill-mode: forwards;
}

.slot{
    width: 200px;
    height: 200px;
    background-color: floralwhite;
    border:paleturquoise solid 2px;
    text-align: center;
    font-size: 100px;
    border-radius: 1rem;
    line-height: 250px;
    overflow: hidden;
}

.slot > .value{
    animation-name: slotspin;
    animation-duration: calc((1s/var(--speed))*2);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused; 
    
}




.button{
    position: relative;
    top: -100px;
    font-size: 10px;
    border-radius: 5px;
    
    text-align: center;
    padding: 5px;
    margin: 20px;
}
#btnSpin{
    position: relative;
    font-weight: bold;
    background-color: limegreen;
    padding: 5px; 
    height: 50px;
    opacity: 1;
    line-height: 22px;
    width: 100px;
    border:black 2px solid;
    top: 100px;
}
#btnSpin:hover{
    opacity: 1;
    font-weight: bold;
    background-color: darkgreen;
}


#btnStop{
    position: relative;
    top: 100px;
    font-weight: bold;
    opacity: 1;
    background-color: rgb(255, 49, 117);
    padding: 1px;
    height: 50px;
    width: 100px;
    border:black 2px solid;
}
#btnStop:hover{
    opacity: 1;
    background-color: darkred;
}

#btnResume{
    
    font-weight: bold;
    background-color: palevioletred;
    padding: 1px;
    height: 50px;
    width: 100px;
    border:black 2px solid;
}
#btnResume:hover{
    background-color: darkred;
}

#back{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}
#back:hover{
    color: darkred;
}

.left{
    position:absolute;
    color: #ffe7f3;
    text-shadow: black 2px 2px 3px;
    top: 200px;
    left:1vh
}
.right{
    position: absolute;
    color: #ffe7f3;
    text-shadow: black 2px 2px 3px;
    top: 200px;
    right: 10vh;
}

.divStats{
    color: #ffe7f3;
    text-shadow: black 2px 2px 3px;
    text-align: center;
    margin: 0;
    padding: 0;

}

@keyframes slotspin{
    0%{
        transform: translateY(-15px);
    }
    0.1%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(300px);
    }
}

@keyframes spinstopping{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-15px);
    }
}

@keyframes welcomeanimation{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(100px);
    }
}

@media (max-width:1250px){
    h1{
        font-size: 25px;
        margin-bottom: 0px;
        text-align: center;
    }
    h2{
        margin-top: 0px;
        font-size: 18px;
        text-align: center;
    }
   
    .machine{
        width: 650px;
        height: 230px;
    }
    
    .divStats{
        margin: 10px;
    }
}
@media (max-width:1250px){
    
     .left{
        position: relative;
        top: -25px;
        margin-top: 0px;
        display: block;
        
    }
    .right{
        position: relative;
        display: block;
        top: -40px;
        left: 5px ;
    }
    
}

@media (max-width:700px){
    .machine{
        width: 350px;
        height: 180px;
    }
    .slot{
        width: 100px;
        height: 130px;
        font-size:70px ;
    }
    @keyframes slotspin{
        0%{
            transform: translateY(-60px);
        }
        0.1%{
            transform: translateY(-300px);
        }
        100%{
            transform: translateY(300px);
        }
    }
    @keyframes spinstopping{
        0%{
            transform: translateY(-120px);
        }
        100%{
            transform: translateY(-60px);
        }
    }
}



