body {
    background: url("https://pixabay.com/get/54e9d2474c56ae14f6d1867dda353678153bd9e75658724f_1920.jpg");
    text-align: center;
    background-size: cover;
}
.outerWrap{
    padding: 40px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: paleturquoise 3px solid;
    background-color: #0036226b;
    border-radius: 10px;
}
h3{
    color: #74ecae;
}
h1{
    color:#ffffff;
}
.btnInMenu{
    display: inline-block;
    margin: 20px;
    margin-top: 30px;
    color:#5D2E46;
    font-size: 30px;
    text-decoration: none;
    border:#8EA4D2 3px solid;
    background-color: #d3e0db;
    border-radius: 10px;
    
}